.Benefits{
    padding: 30px 0px;
}
.parent3{
    display: flex;
    gap: 30px;
    flex-direction: column;
    
}
.parent3 .row{
    align-items: stretch;
    gap: 50px;
}
.para{
    text-align: start;
    font-size: 10px;
}
.parent3 .all{
    border-radius: 8px;
    border: 1px solid  #F1F1F3;
    background:  #FCFCFD;
    padding: 18px 24px;
    color: #262626;
}
.Benefit{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 12px;
    padding: 10px 10px 10px 10px;
    flex: 1 1 300px;
}
.Benefit .para1{
    text-align: end;
    color: #262626;
    font-size: 30px;
    font-weight: 600;
}
.para2{
    text-align: start;
    color: #262626;
    font-size: 20px;
    font-weight: 600;
}
.para3{
    text-align: start;
}
.Benefit a{
    align-self: flex-end;
}
.Benefit svg{
    align-self: flex-end;
    border-radius: 8px;
    border: 1px solid  #F1F1F3;
    background:  #FCFCFD;
    padding: 10px;
    box-sizing: content-box;
}

