.parent1{
    display: flex;
    padding: 30px 0px;
    justify-content: center;
    width: 1595px;
    border-radius: 12px;
    border: 1px solid  #F1F1F3;
    background: #FCFCFD;
}
.card{
    border-right:1px solid  #F1F1F3 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}