header{
    padding: 10px 0px;
    border-bottom: 1px solid  #F1F1F3;
    position: sticky;
    top:0;
    width: 100%;
    background-color: white;
    z-index: 99;
}
.l-side .row{
    gap:25px;
}
header .logo img{
    width: 50px;
}
nav ul{
    display: flex;
    gap:15px;
    list-style-type: none;
    flex-wrap: wrap;
}
nav ul a{
    font-family: 'Be Vietnam Pro';
    color: #262626;
}
.active{
    border-radius: 8px;
    background:#F1F1F3;
    padding: 14px 24px;
}
.r-side{
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Be Vietnam Pro';
}
.sign{
    color: #262626;
}
.log{
    color:white;
    border-radius: 8px;
    background: #FF9500;
    padding: 14px 34px;
}